.footer {
    width: 100%;
    background: @medium2;
    .center();
    align-items: center;
    color: @dark;
    font-size: 1rem;
    height: 175px;

    p {
        text-align: center;
    }
    

    a {
        text-decoration: none;
        color: @dark;
    }
}