html {
    font-size: 67.5%;
    font-family: @content;
    background: @light;
    width: 100%;

    body {
        width: 100%;
        margin: 0 auto;
        font-size: 67.5%;
        font-family: @content;
        background: @light;


    }
 }
 

 

 
 h1 {

     color: #FEFFFF;
 }