.navigation {
    padding: 20px;

    .nav {

        width: 50px;
    
        div {
            height: 8px;
            background-color: @light;
            margin: 8px 0;
            border-radius: 25px;
            transition: 0.3s;
        }
    
        div:hover {
            width: 50px;
        }
    
        .one {
            width: 45px;
        }
    
        .two {
            width: 38px;
        }
    
        .three {
            width: 45px;
        }
    }
}






// nav {

//     a {
//         justify-content: space-between;
//         padding-right: 10px;
//         height: 20%;
//         font-size: 2rem;
//         text-decoration: none;
//         color: @medium;
//         font-family: @header;
//         flex-direction: column;
//         background: @light;
//     }
// }

